server:
  port: 8080

spring:
  application:
    name: issuer
  datasource:
    url: ${DB_URL:jdbc:postgresql://127.0.0.1:15432/finpass}
    username: ${DB_USERNAME:finpass}
    password: ${DB_PASSWORD:finpass}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration

issuer:
  did: ${ISSUER_DID:did:example:issuer}
  privateJwk: ${ISSUER_PRIVATE_JWK:}
